<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Depart List{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <main>
    {% block content %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Welcome</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'departList' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Settings</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Role Choose
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'ridereq' %}">Ride owner</a>
          <a class="dropdown-item" href="{% url 'share_list' %}">Ride sharer</a>
          <a class="dropdown-item" href="{% url 'driver_display' %}">Driver</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="/search/">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" href="{% url 'search' %}"name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      <form method="post" action="/logout/">
  {% csrf_token %}
        <button type="logout" class="btn btn-primary">logout</button> {{ err_msg }}
    <!--<input type="submit" value="Submit"> {{ err_msg }}-->
</form>
  </div>
</nav>
<hr>

    <br>

  <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Destination</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Passenger Numbers</th>
            <th>Vehicle type</th>
            <th>Special Requirement</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for  owner in owners%}
          <tr>
            <td>{{ owner.destination}}</td>
            <td>{{owner.arrival_date}}</td>
            <td>{{owner.arrival_time}}</td>
            <td>{{owner.num_passengers}}</td>
              {% if not owner.vehicle_type%}
                <td> </td>
              {% else %}
                 <td>{{owner.vehicle_type}}</td>
              {% endif %}
              {% if not owner.special_req%}
                <td> </td>
              {% else %}
                 <td>{{owner.special_req}}</td>
              {% endif %}
            <td>Not Confirmed</td>
            <td>
                <a class="btn btn-success btn-xs" href="/settings/{{owner.ride_id}}/edit-ride/">edit</a>
                <a class="btn btn-danger btn-xs" href="/settings/{{owner.ride_id}}/cancel-ride/">Cancel</a>
            </td>
          </tr>
            {% endfor %}
            {% for  owner in shared%}
                {% if owner.ride_id.status == 1 %}
          <tr>
            <td>{{ owner.ride_id.destination}}</td>
            <td>{{owner.ride_id.arrival_date}}</td>
            <td>{{owner.ride_id.arrival_time}}</td>
            <td>{{owner.ride_id.num_passengers}}</td>
              {% if not owner.ride_id.vehicle_type%}
                <td> </td>
              {% else %}
                 <td>{{owner.ride_id.vehicle_type}}</td>
              {% endif %}
              {% if not owner.ride_id.special_req%}
                <td> </td>
              {% else %}
                 <td>{{owner.ride_id.special_req}}</td>
              {% endif %}
            <td>Not Confirmed</td>
            <td>
        <a class="btn btn-success btn-xs" href="/settings/{{owner.ride_id}}/cancel_share/">Cancel Share</a>
            </td>
          </tr>
                {% endif %}
            {% endfor %}
            {% for  owner in view%}
          <tr>
            <td>{{ owner.destination}}</td>
            <td>{{owner.arrival_date}}</td>
            <td>{{owner.arrival_time}}</td>
            <td>{{owner.num_passengers}}</td>
              {% if not owner.vehicle_type%}
                <td> </td>
              {% else %}
                 <td>{{owner.vehicle_type}}</td>
              {% endif %}
              {% if not owner.special_req%}
                <td> </td>
              {% else %}
                 <td>{{owner.special_req}}</td>
              {% endif %}
            <td>Confirmed</td>
            <td>
            <a class="btn btn-success btn-xs" href="/settings/{{owner.ride_id}}/view-details/">details</a>
            </td>
          </tr>
            {% endfor %}
            {% for  owner in shared%}
                {% if owner.ride_id.status == 2 %}
          <tr>
            <td>{{ owner.destination}}</td>
            <td>{{owner.arrival_date}}</td>
            <td>{{owner.arrival_time}}</td>
            <td>{{owner.num_passengers}}</td>
              {% if not owner.vehicle_type%}
                <td> </td>
              {% else %}
                 <td>{{owner.vehicle_type}}</td>
              {% endif %}
              {% if not owner.special_req%}
                <td> </td>
              {% else %}
                 <td>{{owner.special_req}}</td>
              {% endif %}
            <td>Confirmed</td>
            <td>
            <a class="btn btn-success btn-xs" href="/settings/{{owner.ride_id}}/view-details/">details</a>
            </td>
          </tr>
                {% endif %}
            {% endfor %}
            {% for  owner in completed%}
          <tr>
            <td>{{ owner.destination}}</td>
            <td>{{owner.arrival_date}}</td>
            <td>{{owner.arrival_time}}</td>
            <td>{{owner.num_passengers}}</td>
              {% if not owner.vehicle_type%}
                <td> </td>
              {% else %}
                 <td>{{owner.vehicle_type}}</td>
              {% endif %}
              {% if not owner.special_req%}
                <td> </td>
              {% else %}
                 <td>{{owner.vspecial_req}}</td>
              {% endif %}
            <td>Completed</td>
            <td>
            </td>
          </tr>
            {% endfor %}
            {% for  owner in shared%}
                {% if owner.ride_id.status == 3 %}
          <tr>
            <td>{{ owner.destination}}</td>
            <td>{{owner.arrival_date}}</td>
            <td>{{owner.arrival_time}}</td>
            <td>{{owner.num_passengers}}</td>
              {% if not owner.vehicle_type%}
                <td> </td>
              {% else %}
                 <td>{{owner.vehicle_type}}</td>
              {% endif %}
              {% if not owner.special_req%}
                <td> </td>
              {% else %}
                 <td>{{owner.special_req}}</td>
              {% endif %}
            <td>Completed</td>
            <td>
            <a class="btn btn-success btn-xs" href="/settings/{{owner.ride_id}}/view-details/">details</a>
            </td>
          </tr>
                {% endif %}
            {% endfor %}
        </tbody>
      </table>
</div>
</div>
</div>


    {% endblock %}
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>







