{% extends 'base.html' %}

{% block title %}Share Request{% endblock %}

{% block content %}
<br>
  <h2>Share Request</h2>
<hr>
  <form method="post" action="/riderequest/" novalidate>
    {% csrf_token %}
      {% for field in form %}
           <div class="form-group">
    <label for="inputName">{{ field.label }}</label>
               {{ field }}
               <span style="color:red;">{{ field.errors.0 }}</span>
  </div>
      {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}